<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание ЭОМ</title>
    <link rel="stylesheet" href="../static/styles/style.css"/>
    <script type="module" th:inline="text">
        import {App} from "../static/system_js/mainApp.js";
        import {HTMLFather as HTML} from "../static/system_js/HTMLFather.js";
        import {Windows} from "/js/get_other_script/[[${windows}]]";
        var intervalId;
        var scrollDiv;
        document.documentElement.setAttribute("theme", "system");
        window.addEventListener("load", ()=>{
            let form = HTML.createAndAppend("DIV");
            HTML.addStyles(["grid", "hvCenter", "absolute", "gapFivePix"],[form]);
            let codeName = HTML.createAndAppend("INPUT", form);
            let start = HTML.createAndAppend("BUTTON", form);
            start.innerText = "Создать новый";
            start.onclick = async ()=>
            {
                let store = {};
                HTML.getValueAction(codeName, store, "name");
                let res = await fetch("/create", {
                    method: "POST",
                    headers: {"Content-type":"text/html"},
                    body: store.name}
                );
                let req = await res.json();
                loadApp(req);
            }
            let load = HTML.createAndAppend("Button", form);
            load.innerText = "Загрузить";
            load.onclick = async ()=>{
                let grid = HTML.create("div");
                HTML.addStyles(["grid", "gapFivePix"],[grid]);
                grid.style.gridTemplateColumns = "1";
                grid.style.gridTemplateRows = "auto auto";
                let pop = new Windows("content-auto");
                let findInput = HTML.createAndAppend("INPUT", grid);
                findInput.value = "";
                findInput.oninput = sendFind;
                scrollDiv = HTML.createAndAppend("DIV", grid);
                HTML.addStyles(["grid", "gapFivePix", "scrollY"],[scrollDiv]);
                pop.setInside(grid);
                pop.show();
                findInput.dispatchEvent(new Event("input"));
            };
        });
        function loadApp(res)
        {
            document.body.innerHTML = "";
            new App(res);
        }
        function loadMinApp(id)
        {
            window.open(`./player/${id}`, "_blank");
        }
        async function sendFind(e)
        {
            clearTimeout(intervalId);
            intervalId = setTimeout(async ()=>{
                scrollDiv.innerHTML = "";
                let res = await fetch("/load_pages", {
                    method: "POST",
                    body: e.target.value
                });
                let req = await res.json();
                req.forEach(arr => {
                    let crDiv = HTML.createAndAppend("DIV", scrollDiv);
                    crDiv.style = "display:flex; justify-content: space-between; align-items: center; border-bottom: 2px solid var(--secondColor); padding-right: 5px; max-height:100px;";
                    let span = HTML.createAndAppend("SPAN", crDiv);
                    span.innerText = arr[1];
                    let butts = HTML.createAndAppend("DIV", crDiv);
                    HTML.addStyles(["grid", "gapFivePix"],[butts]);
                    butts.style.gridAutoFlow = "column";
                    let but = HTML.createAndAppend("BUTTON", butts);
                    but.innerText = "Загрузить";
                    but.onclick = async ()=>{
                        let req = await fetch("/load_page/" + arr[0]);
                        let result = await req.json();
                        loadApp(result);                        
                    };
                    let player = HTML.createAndAppend("BUTTON", butts);
                    player.innerText = "Плеер";
                    player.onclick = ()=>{
                        loadMinApp(arr[0]);
                    };
                });
            }, 500);
        }
    </script>
</head>
<body>

</body>
</html>